# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem

_posts/template.md
_posts/markdown-syntax.md
_posts/23-03-16-testing.md
_posts/23-03-21-hogithum.md
_posts/23-03-23-matmos.md
_posts/23-04-03-aphex-twin-organizer.md
_posts/23-04-03-gender-and-mysticism.md